html {
    box-sizing: border-box;
    font-family: 'Open Sans', Calibri, Candara, Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body > * {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 768px;
    margin:0 auto;
}

body > header {
    background: #222;
    background-image: url("/img/banner.jpg");
    background-position: center;
    color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

body > header h1 {
    font-size: 2.2em;
    margin-top: 0.33em;
    margin-bottom: 0em;
}

body > header p {
    font-size: 0.8em;
    margin-top: 0em;
    letter-spacing: 0.075em;
}

body > header nav {
    text-transform: lowercase;
}

body > header nav a {
    text-decoration: none;
}

body > header nav ul {
    list-style-type: none;
    padding: 0px;
}

body > header nav ul li {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

body > header nav ul li:not(:last-child) {
    /* margin-right: 2em; */
}

body > footer {
    background: #eee;
    color: #555;
    font-size: 0.8em;
    padding-top: 1px;
    padding-bottom: 1px;
}

main p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: inherit;
}

p.post-meta {
    color: gray;
    font-size: 0.8em;
    margin-top: 0em;
}

p.read-more {
    color: gray;
    font-size: 0.8em;
    margin-top: 0.8em;
    text-decoration: none;
}

h1 {
    margin-bottom: 0em;
}

h1 a {
    text-decoration: none;
}
