*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
}

h1 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, 'Open Sans', Calibri, Candara, Arial, sans-serif;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: 0.67em;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

blockquote:before {
	color: #dddddd;
	content: "“";
    display: block;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6em;
    font-style: italic;
    height: 0;
    margin-left: -.65em;
    position: relative;
    top: -.15em;
}

blockquote {
    margin-left: 4em;
}

body > * {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 768px;
    margin:0 auto;
}

body > header {
    background: #222;
    background-image: url("/img/banner.jpg");
    background-position: center;
    background-size: 768px 256px;
    color: #fff;
    font-family: Verdana, 'Open Sans', Calibri, Candara, Arial, sans-serif;
    height: 256px;
    margin-bottom: 6em;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

body > header > a {
    display: block;
    text-decoration: none;
}

body > header > a > h1 {
    display: block;
    letter-spacing: .2em;
    margin-left: .2em;
    margin-top: 1.66em;
    margin-bottom: 0em;
}

body > header > a > p {
    display: block;
    font-size: 0.8em;
    letter-spacing: .1em;
    /* margin-left: .1em; */
    margin-top: 0em;
    text-transform: uppercase;
}

body > header > nav {
    text-transform: lowercase;
}

body > header > nav > ul {
    list-style-type: none;
    padding: 0px;
}

body > header > nav > ul > li {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

body > header > nav > ul > li > a {
    text-decoration: none;
}

body > main span.post-meta {
    color: rgb(70%, 70%, 70%);
    font-family: Verdana, 'Open Sans', Calibri, Candara, Arial, sans-serif;
    font-size: 0.8em;
}

body > main h1, body > main h2, body > main h3, body > main h4, body > main h5, body > main h6 {
    margin-left: -.1em;
}

body > main h2.h-post-title, body > main h3.h-post-title {
    margin-top: .17em;
}

body > footer {
    background: #eee;
    color: #555;
    font-family: Verdana, 'Open Sans', Calibri, Candara, Arial, sans-serif;
    margin-top: 6em;
    padding-top: 1px;
    padding-bottom: 1px;
}

body > footer > * {
    font-size: 0.8em;
}
