section.post-preview:not(:first-child) {
    margin-top: 4em;
}

section.post-preview > h2 {
    font-size: 2em;
}

section.post-preview > a.read-more {
    color: gray;
    display: block;
    font-family: 'Open Sans', Calibri, Candara, Arial, sans-serif;
    font-size: 0.8em;
    margin-top: -0.25em;
    text-decoration: none;
}
