article > h2 {
    font-size: 2em;
}

section.related-posts {
    margin-top: 3em;
}

section.related-posts > h2 {
    color: gray;
    font-size: 1.17em;
}

section.related-posts > section.post-preview {
    margin-top: 2em;
}

section.related-posts > section.post-preview > h3.h-post-title {
    font-size: 1.5em;
}
