article {
    margin-bottom: 3em;
}

section.related-posts > h2 {
    color: rgb(70%, 70%, 70%);
    font-size: 1em;
}

section.related-posts > section.post-preview {
    margin-bottom: 2em;
}
