section.related-posts {
    margin-top: 3em;
}

section.related-posts > h2 {
    color: gray;
    font-size: 1.17em;
}

section.related-posts > section.post-preview {
    margin-top: 2em;
}
