---
layout: default
title: Archive
---
    <h2>Archive</h2>{% for post in site.posts %}{% capture month %}{{ post.date | date: "%b-%Y" }}{% endcapture %}{% if month != previousmonth %}{% if forloop.first %}{% else %}
      </ul>
    </section>{% endif %}
    <section>
      <a id="{{ month }}"></a>
      <h3>{{ post.date | date: '%B %Y' }}</h3>
      <ul>{% assign previousmonth = month %}{% endif %}
        <li><a href="{{ post.url | remove:'.html' }}">{{ post.title }}</a><span class="post-meta"> &mdash; {{ post.content | number_of_words | divided_by:180 | at_least:1 }} min read</span></li>{% endfor %}
      </ul>
    </section>
