---
layout: default
title: Archive
---
<h1>Archive</h1>
{% for post in site.posts %}
    {% capture postmonth %}{{ post.date | date: "%B" }}{% endcapture %}
    {% if postmonth != month %}
        {% assign month = postmonth %}
        {% if forloop.first %}
        {% else %}
</ul>
        {% endif %}
<a name="{{ post.date | date: '%Y' }}{{ month }}"></a>
<h2>{{ month }}</h2>
<ul>
    {% endif %}
  <li><a href="{{ post.url | remove:'.html' }}">{{ post.title }}</a> ({{ post.date | date_to_string }})</li>
{% endfor %}
</ul>