---
layout: default
title: Adam Ralph
---
{% for post in site.posts limit:10 %}
<h1><a href="{{ post.url | remove:'.html' }}">{{ post.title }}</a></h1>
<p class="post-meta">
  {{ post.date | date_to_string }} {{ post.location }}
  {% for tag in post.tags %}
<a href="/tags/#{{ tag }}"><span class="badge">{{ tag }}</span></a>
  {% endfor %}
</p>
<div style="display:inline-block;vertical-align:top">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="adamralph" data-related="adamralph" data-count="none" data-text="{{ post.title }}" data-url="http://{{ site.host }}{{ post.url | remove:'.html' }}">Tweet</a>
</div>
<div style="display:inline-block;vertical-align:top">
    <a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en" data-save-url="http://{{ site.host }}{{ post.url | remove:'.html' }}"></a>
</div>
<div style="display:inline-block;vertical-align:top">
    <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="{{ post.title }}" data-url="http://{{ site.host }}{{ post.url | remove:'.html' }}">Vote on HN</a>
</div>
<div style="display:inline-block;vertical-align:top">
    <div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://{{ site.host }}{{ post.url | remove:'.html' }}"></div>
</div>
  {{ post.content | split:'<!--excerpt-->' | first }}
<p><a href="{{ post.url | remove:'.html' | append:'#more' }}">Read more...</a></p>
{% unless forloop.last %}
<hr />
{% endunless %}
{% endfor %}
<!--twitter-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!--pocket-->
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
<!--hn-->
<script>
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>
<!--g+-->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
