---
layout: default
title: Adam Ralph
---
<aside>
  <h2>Open source</h2>
  <ul>
    <li><a href="https://fakeiteasy.github.io/">FakeItEasy</a></li>
    <li><a href="https://github.com/liteguard/liteguard/">LiteGuard</a></li>
    <li><a href="https://github.com/Particular/NServiceBus/">NServiceBus</a></li>
    <li><a href="https://github.com/adamralph/simple-targets-csx/">simple-targets-csx</a></li>
    <li><a href="http://xbehave.github.io/">xBehave.net</a></li>
  </ul>
</aside>
<div id="side2" class="span2">
  <div id="tags">
    {% for tag in site.tags %}
    <a href="/tags/#{{ tag[0] | replace:' ','%20' }}">{{ tag[0] }}</a><span> </span>
    {% endfor %}
  </div>
  <div id="tweets">
    <a class="twitter-timeline" href="https://twitter.com/adamralph" data-widget-id="296522059847172096">Tweets by @adamralph</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
{% for post in site.posts limit:5 %}
<h1><a href="{{ post.url | remove:'.html' }}">{{ post.title }}</a></h1>
<p class="post-meta">
  {{ post.date | date_to_string }} {{ post.location }}
  {% for tag in post.tags %}
<a href="/tags/#{{ tag | replace:' ','%20' }}"><span class="badge">{{ tag }}</span></a>
  {% endfor %}
</p>
<div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="adamralph" data-related="adamralph" data-count="none" data-text="{{ post.title }}" data-url="http://{{ site.host_name }}{{ post.url | remove:'.html' }}">Tweet</a>
</div>
<div>
    <a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en" data-save-url="http://{{ site.host_name }}{{ post.url | remove:'.html' }}"></a>
</div>
<div>
    <a href="https://news.ycombinator.com/submit" class="hn-button" data-count="horizontal" data-title="{{ post.title }}" data-url="http://{{ site.host_name }}{{ post.url | remove:'.html' }}">Vote on Hacker News</a>
</div>
<div>
    <div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://{{ site.host_name }}{{ post.url | remove:'.html' }}"></div>
</div>
  {{ post.content | split:'<!--excerpt-->' | first }}
<p><a href="{{ post.url | remove:'.html' | append:'#more' }}">Read more...</a></p>
<hr />
{% endfor %}
<a href="/archive/">More posts...</a>
<!--twitter-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!--pocket-->
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
<!--hn-->
<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
<!--g+-->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
