---
layout: default
title: Tags
---
<section>
  <h2>Relationships</h2>
  <ul>
{% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    <ul>
  {% for related_post in site.posts %}
    {% assign is_related = false %}
    {% for tag in related_post.tags %}
      {% if related_post.url != post.url and post.tags contains tag %}
        {% assign is_related = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if is_related == false %}
      {% continue %}
    {% endif %}
      <li><a href="{{ related_post.url }}">{{ related_post.title }}</li>
  {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

<section>
<h2>Tags</h2>
{% for tag in site.tags %}
<section>
  <a id="{{ tag[0] | slugify }}"></a>
  <h3>{{ tag[0] }}</h3>
    <ul>
  {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
    </ul>
  </section>
</section>
{% endfor %}
</section>