---
layout: default
title: Tags
---
<h2>Tags</h2>
{% for tag in site.tags %}
<section>
<a id="{{ tag[0] | slugify }}"></a>
<h3>{{ tag[0] }}</h3>
  {% assign previousmonth = "" %}
  {% for post in tag[1] %}
    {% capture month %}{{ post.date | date: "%b-%Y" }}{% endcapture %}
    {% if month != previousmonth %}
        {% if forloop.first %}
        {% else %}
</ul>
</section>
        {% endif %}
<section>
<a id="{{ tag[0] | slugify }}-{{ month }}"></a>
<h4>{{ post.date | date: '%B %Y' }}</h4>
<ul>
        {% assign previousmonth = month %}
    {% endif %}
  <li><a href="{{ post.url | remove:'.html' }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
</section>
</section>
{% endfor %}