<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} &#8211; adamralph.com</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"/>
            <span class="icon-bar"/>
            <span class="icon-bar"/>
          </a>
          <a class="brand" href="/">Adam Ralph</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <section>
            <p>On the Origin of Code.</p>
            <a href="http://www.adamralph.com/" title="Adam Ralph">
              <img src="http://www.gravatar.com/avatar/78e6cdb8bf24413c4576e496e4d05fce?s=100" alt="Adam Ralph" width="100" height="100" />
            </a>
          </section>
          <section>
            <aside>
              <h2>Follow</h2>
              <ul>
                <li>
                  <a href="http://twitter.com/adamralph">Twitter</a>
                </li>
                <li>
                  <a href="http://github.com/adamralph">Github</a>
                </li>
              </ul>
            </aside>
            <aside>
              <h2>Projects</h2>
              <ul>
                <li>
                  <a href="http://github.com/xbehave/xbehave.net">xBehave.net</a>
                </li>
                <li>
                  <a href="http://bitbucket.org/adamralph/stylecop-msbuild">StyleCop.MSBuild</a>
                </li>
              </ul>
            </aside>
            <aside>
              <h2>Archive</h2>
              <ul>
          {% for post in site.posts %}
            {% capture postmonth %}{{ post.date | date: "%B" }}{% endcapture %}
            {% if postmonth != month %}
              {% assign month = postmonth %}
                <li>
                  <a href='/archive#{{ post.date | date: "%Y" }}{{ month }}'>{{ month }} {{ post.date | date: "%Y" }}</a>
                </li>
            {% endif %}
          {% endfor %}
              </ul>
            </aside>
          </section>
        </div>
        <div class="span3">
          <section>
{{ content }}
          </section>
        </div>
        <footer>
          <p>Powered by <a href="https://github.com/">Github</a> and <a href="http://jekyllrb.com/">jekyll</a>
          </p>
        </footer>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js" />
    <script src="/js/bootstrap.min.js" />
  </body>
</html>