<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{% for tag in page.tags %}{{ tag }} {% endfor %}.net software development blog" />
    <meta name="description" content="{{ page.title }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <meta name="msapplication-TileColor" content="#0066cc" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@adamralph" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image:src" content="http://www.gravatar.com/avatar/78e6cdb8bf24413c4576e496e4d05fce" />
    <title>{{ page.title }} &#8211; adamralph.com</title>
    <link rel="alternate" type="application/atom+xml" title="adamralph.com atom feed" href="/feed/" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/code.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
        color: #444;
      }

      p {
        line-height: 1.5em;
        margin-bottom: 1.5em;
      }

      h1 {
        line-height: 1.1em;
      }

      canvas {
        -ms-touch-action: double-tap-zoom;
      }

      .container {
        max-width: 80em;
      }

      .container-fluid > hr {
        margin-bottom: 3em;
      }

      .badge {
        background-color: #dfdfdf;
        color: #999;
      }

      .sidebar-nav {
        padding: .75em 0;
      }

      .post-meta {
        color: #999;
        font-size: 0.9em;
      }
      
      p.post-meta {
        margin-bottom: 1.5em;
      }

      .tag-count {
        vertical-align: super;
      }
      
      #logo-panel {
        text-align: center;
      }
      
      #logo {
        margin-bottom: 2em;
      }

      #site-description {
        color: #999;
        font-weight: 300;
        font-size: 1.1em;
      }

      /*#site-description p {
        max-width: 12em;
      }*/

      #tags {
        margin-bottom: 2em;
        text-align: center;
      }

      #side {
        margin: 0em;
      }

      #side .nav-list {
        padding-left: 0em;
        padding-right: 0em;
      }

      #content {
        padding-left: 3em;
        padding-right: 3em;
        margin: 0em;
      }

      #side2 {
        margin: 0em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="container-fluid">
        <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li>
              <a href="/" title="home">
                <i class="fa fa-home fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="http://twitter.com/adamralph" title="follow me on Twitter">
                <i class="fa fa-twitter fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="http://github.com/adamralph/" title="follow me on GitHub">
                <i class="fa fa-github fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="/archive/" title="archive">
                <i class="fa fa-list fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="/feed" title="feed">
                <i class="fa fa-rss fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="/about/" title="about me">
                <i class="fa fa-info fa-lg"></i>
              </a>
            </li>
          </ul>
          <a href="/" title="Home"><h1>Adam Ralph</h1></a>
          <div id="site-description">
            <p>A blog about how software development fills in the gaps between snowboarding</p>
          </div>
        </div>
        <hr />
        <div class="row-fluid">
          <div id="side" class="span2">
            <div id="logo-panel">
              <a href="/about/" title="About me">
                <img id="logo" src="http://www.gravatar.com/avatar/78e6cdb8bf24413c4576e496e4d05fce?s=150" alt="Adam Ralph" width="150" height="150" />
              </a>
            </div>
            <div class="sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Open Source</li>
                <li>
                  <a href="https://github.com/bau-build/bau/">Bau</a>
                </li>
                <li>
                  <a href="https://github.com/colored-console/colored-console/">ColoredConsole</a>
                </li>
                <li>
                  <a href="https://github.com/config-r/config-r/">ConfigR</a>
                </li>
                <li>
                  <a href="https://fakeiteasy.github.io/">FakeItEasy</a>
                </li>
                <li>
                  <a href="https://github.com/liteguard/liteguard/">LiteGuard</a>
                </li>
                <li>
                  <a href="http://scriptcs.net/">scriptcs</a>
                </li>
                <li>
                  <a href="https://github.com/adamralph/scriptcs-nancy/">ScriptCs.Nancy</a>
                </li>
                <li>
                  <a href="http://bitbucket.org/adamralph/stylecop-msbuild/">StyleCop.MSBuild</a>
                </li>
                <li>
                  <a href="http://xbehave.github.io/">xBehave.net</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="content" class="span8">
  {{ content }}
          </div>
          <div id="side2" class="span2">
            <div id="tags">
              {% for tag in site.tags %}
              <a href="/tags/#{{ tag[0] | replace:' ','%20' }}"><span style="margin-top:2px;font-size: {{ tag[1] | size | minus:1 | times:2 | plus:12 }}px;line-height:{{ tag[1] | size | minus:1 | times:2 | times:14 | divided_by:12 | plus:14 }}px">{{ tag[0] }}</span></a><span> </span>
              {% endfor %}
            </div>
            <div id="tweets">
              <a class="twitter-timeline" href="https://twitter.com/adamralph" data-widget-id="296522059847172096">Tweets by @adamralph</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer">
          <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Adam Ralph Blog posts by Adam Ralph are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>          
          <p>Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer’s view in any way.</p>
          <p>Powered by <a href="http://pages.github.com/">GitHub Pages</a> and <a href="http://jekyllrb.com/">jekyll</a>. <a href="http://bootswatch.com/cosmo/">Cosmo</a> theme by <a href="http://bootswatch.com/">Bootswatch</a>.
          </p>
          <p>
            <a href="https://github.com/adamralph/adamralph.github.com">Fork me on GitHub</a>.
          </p>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src='/js/prettify.js' type='text/javascript'></script>
    <script type='text/javascript'>
        $(function () {
            $("pre code").parent().each(function () {
                if (!$(this).hasClass("prettyprint")) {
                    $(this).addClass("prettyprint");
                    a = true
                }
            });

            prettyPrint();
        });
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9261591-1']);
      _gaq.push(['_setDomainName', 'adamralph.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!--[if !(lt IE 8)]><!-->
    <script type="text/javascript">
      (function(){
        var e = document.createElement('script'); e.type='text/javascript'; e.async = true;
        e.src = 'https://www.eff.org/ngw/widget.min.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
      })();
    </script>
    <!--<![endif]-->
  </body>
</html>
