<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ page.title }} &#8211; Adam Ralph</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body class="home blog">
    <div id="page" class="hfeed site">
        <header id="masthead" class="site-header" role="banner">
            <hgroup>
                <a class="site-logo" href="http://buildstarted.com/" title="BuildStarted.com" rel="home">
                    <img src="http://www.gravatar.com/avatar/78e6cdb8bf24413c4576e496e4d05fce?s=100" alt="Adam Ralph" width="100" height="100" class="no-grav"></a>
                <h1 class="site-title"><a href="http://buildstarted.com/" title="BuildStarted.com" rel="home">BuildStarted.com</a></h1>
                <h2 class="site-description">Newly minted father. C# dev that enjoys playing around with random ideas.</h2>
            </hgroup>
            <nav role="navigation" class="site-navigation main-navigation">
                <h1 class="assistive-text">Menu</h1>
                <div class="assistive-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>
                <div class="menu">
                    <ul>
                        <li class="page_item page-item-2"><a href="http://buildstarted.com/about/">About</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="main">
            <div id="primary" class="site-content">
                <div id="content" role="main">
                    {{ content }}
                </div>
                <!-- #content -->
            </div>
            <!-- #primary .site-content -->

            <div id="secondary" class="widget-area" role="complementary">
                <aside id="text-5" class="widget widget_text">
                    <h1 class="widget-title">Follow</h1>
                    <div class="textwidget">
                        <a href="http://twitter.com/buildstarted" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);">Twitter</a><br />
                        <a href="http://stackoverflow.com/users/365526/buildstarted" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://stackoverflow.com']);">Stackoverflow.com</a><br />
                        <a href="https://plus.google.com/118314403854065988234" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://plus.google.com']);">Google+</a><br />
                        <a href="https://github.com/Buildstarted" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://github.com']);">Github</a>
                    </div>
                </aside>
                <aside id="text-8" class="widget widget_text">
                    <h1 class="widget-title">Other sites</h1>
                    <div class="textwidget">
                        <a href="http://csharptube.com/" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://csharptube.com']);">csharptube.com</a><br />
                        <a href="http://thisisparrot.com/" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://thisisparrot.com']);">Parrot</a><br />
                        <a href="http://shitprogrammerswrite.com/" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://shitprogrammerswrite.com']);">Shit programmers write</a><br />
                    </div>
                </aside>
                <aside id="linkcat-6" class="widget widget_links">
                    <h1 class="widget-title">Other Blogs</h1>
                    <ul class='xoxo blogroll'>
                        <li><a href="http://blog.andrewnurse.net/" target="_top" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://blog.andrewnurse.net/']);">Andrew Nurse @ Microsoft</a></li>
                        <li><a href="http://weblogs.asp.net/jgalloway/" target="_top" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://weblogs.asp.net/jgalloway/']);">Jon Galloway @ Microsoft</a></li>
                        <li><a href="http://msmvps.com/blogs/jon_skeet/" target="" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://msmvps.com/blogs/jon_skeet/']);">Jon Skeet</a></li>
                        <li><a href="http://invalidcast.com" target="" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://invalidcast.com']);">Martin Rue</a></li>
                        <li><a href="http://haacked.com/" target="" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://haacked.com/']);">Phil Haack @ Github</a></li>

                    </ul>
                </aside>
                <aside id="archives-4" class="widget widget_archive">
                    <h1 class="widget-title">Archive</h1>
                    {% assign year = '2015' %}
                    {% assign month = 'December' %}

                      <ul class="posts">
                        {% for post in site.posts %}
                          {% capture postmonth %}{{ post.date | date: "%B" }}{% endcapture %}
                          <!-- {{ postmonth }} {{ month }} -->
                          {% if postmonth != month %}
                            {% assign month = postmonth %}
                            <li><a href='/archive#{{ post.date | date: "%Y" }}{{ month }}'>{{ month }} {{ post.date | date: "%Y" }}</a></li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                </aside>
            </div>
            <!-- #secondary .widget-area -->


        </div>
        <!-- #main -->

        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info">
                Powered by <a href="https://github.com/" rel="generator">Github</a><span class="sep"> | </span>Theme: Publish by <a href="http://kovshenin.com/" rel="designer">Konstantin Kovshenin</a>.	
            </div>
            <!-- .site-info -->
        </footer>
        <!-- #colophon .site-footer -->
    </div>
    <!-- #page .hfeed .site -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js' type='text/javascript'></script>
    <script type='text/javascript'>
        $(function () {
            $("pre code").parent().each(function () {
                if (!$(this).hasClass("prettyprint")) {
                    $(this).addClass("prettyprint");
                    a = true
                }
            });

            prettyPrint();
        });
    </script>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(66442308); } catch (e) { }</script>
</body>
</html>
